header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a,
nav ul li button {
    text-decoration: none;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul li button:hover,
nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
